input {
    outline: none;
    border: none;
    width: 100%;
    border: 1px solid rgb(175, 162, 162);
    border-radius: 5px;
    height: 30px;
    font-size: 16px;
    padding: 0 5px;
    float: left;

}

.group {
    width: 60%;
    position: relative;

    margin: 0 20px;
}

img {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 5px;
    top: 2px;

}

.img,
.erro {
    display: none;
}

input:focus {
    box-shadow: 1px 1px 10px rgb(170, 161, 161);
}

label {
    display: none;
    color: red;
}